<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!-- 1. sql 실행 결과 XXXDTO 매핑 -->
<typeAliases>
	<!-- 관리자 신고 관리 -->
	<typeAlias type="admin.PostReportDTO" alias="postreportdto"/>
	<typeAlias type="admin.CommentReportDTO" alias="commentreportdto"/>
	<typeAlias type="admin.PostReportJoinDTO" alias="postreportjoindto"/>
	<typeAlias type="admin.CommentReportJoinDTO" alias="commentreportjoindto"/>
</typeAliases>


</configuration>

